<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Estilos -->
    <style>
      .pagination{
        margin-top: 15px;
      }
      
      ::-webkit-input-placeholder {
        font-style: italic;
      }
      :-moz-placeholder {
        font-style: italic;  
      }
      ::-moz-placeholder {
        font-style: italic;  
      }
      :-ms-input-placeholder {  
        font-style: italic; 
      }

      .invi {
        border: black
      }

    </style>

    <title>Grupo Stars</title>
  </head>
  <body>

