    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/login/index"> 
          <img src="https://grupostars.net/img/GS1_logo.53eaf110.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              
        <!-- Verá apenas logado -->
              <% if(user) { %>
                <li class="nav-item">
                  <a class="btn invi btn-outline-light btn-lg" href="/empresa/empresas">Empresas</a>
                </li>
                <li class="nav-item">
                  <a class="btn invi btn-outline-light btn-lg" href="/colaborador/empresas">Colaboradores</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="btn rounded-pill btn-outline-light btn-lg" href="/login/logout">Desconectar</a>
                </li>
              <% } %>
            </ul>
        </div>
      </div>
    </nav>